:root {
  --leftColor: #01c8eb;
  --rightColor: #ff6054;
  --screenColor: #1a1c20;
  --screenMarco1: #1f2c2f;
  --screenMarco2: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* DETAILS */

main {
  display: grid;
  grid-template-rows: 4px 350px;
}

.details {
  display: flex;
  justify-content: space-between;
  width: 802px;
}

.dt_button {
  width: 89px;
  height: 52px;
}

/* CONSOLE */

.console {
  justify-self: center;

  display: flex;
  width: 800px;
  height: 350px;
}

/* LEFT - SECTION */

.left {
  display: flex;
  flex-direction: column;
  background: var(--leftColor);
  width: 15%;
  border-radius: 70px 0px 0px 70px;
}

.minus {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 10%;
}

.bt_minus {
  width: 20px;
  height: 7px;
  background: #000;
  border-radius: 3px;
  margin-right: 10px;
}

.joystick {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32%;
}

.bt_joystick {
  height: 58px;
}

.arrows {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 25%;
}

.fr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bt_cross {
  height: 30px;
}

.fr_middle {
  display: flex;
  justify-content: space-around;
}

.reset {
  display: flex;
  justify-content: flex-end;
  height: 33%;
}

.bt_reset {
  margin-right: 30px;
  margin-top: 18px;
  width: 23px;
  height: 23px;
}

/* SCREEN - SECTION */

.screenFrame1 {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--screenMarco1);
  width: 70%;
}

.screenFrame2 {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--screenMarco2);
  width: 93%;
  height: 94%;
  border-radius: 10px;
}

.screen {
  background: var(--screenColor);
  width: 84%;
  height: 85%;
}


/* RIGHT - SECTION */

.right {
  background: var(--rightColor);
  width: 15%;
  border-radius: 0px 70px 70px 0px;
}

.plus {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 12%;
}

.bt_plus {
  width: 21px;
  height: 21px;
  margin-left: 10px;
}

.arrows2 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 25%;
}

.reset2 {
  display: flex;
  justify-content: flex-start;
  height: 31%;
}

.bt_reset2 {
  margin-left: 30px;
  margin-top: 10px;
  width: 25px;
  height: 25px;
}