@import url('https://fonts.googleapis.com/css?family=Poppins:200i,300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');

:root {
  --leftColor: #00c0e1;
  --rightColor: #ff6054;
  --screenColor: #1a1c20;
  --screenMarco1: #1f2c2f;
  --screenMarco2: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 1rem;
}

/* EXTERNAL DETAILS */

main {
  display: grid;
  grid-template-rows: 4px 350px 100px;
}

.details {
  display: flex;
  justify-content: space-between;
  width: 802px;
}

.dt_button {
  width: 89px;
  height: 52px;
}

/* CONSOLE - SECTION */

.console {
  justify-self: center;
  display: flex;
  width: 800px;
  height: 350px;
}

/* LEFT - SECTION */

.left {
  display: flex;
  flex-direction: column;
  background: var(--leftColor);
  width: 15%;
  border-radius: 70px 0px 0px 70px;
  box-shadow: 5px 5px 15px #b4ecf5 inset, 2px -2px 30px #02a5c2 inset, 2px 2px 2px #666;
}

.minus {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 10%;
}

.bt_minus {
  width: 20px;
  height: 7px;
  background: #000;
  border-radius: 3px;
  margin-right: 10px;
}

.joystick {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32%;
}

.bt_joystick {
  height: 58px;
}

.arrows {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 25%;
}

.fr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bt_cross {
  height: 30px;
}

.fr_middle {
  display: flex;
  justify-content: space-around;
}

.reset {
  display: flex;
  justify-content: flex-end;
  height: 33%;
}

.bt_reset {
  margin-right: 30px;
  margin-top: 18px;
  width: 23px;
  height: 23px;
}

/* SCREEN - SECTION */

.screenFrame1 {
  display: grid;
  grid-template-rows: 0px 1fr;
  justify-items: center;
  align-items: center;
  background: var(--screenMarco1);
  width: 70%;
  box-shadow: 0px 2px 2px #666;
}

.dt_frame1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 0px solid white;
}

.gap1, .gap2 {
  width: 14px;
  height: 27px;
  background: #fff;
}

.gap1 {
  border-radius: 0 0 90% 0;
}

.gap2 {
  border-radius: 0 0 0 90%;
}

.screenFrame2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--screenMarco2);
  width: 93%;
  height: 94%;
  border-radius: 10px;
}

.screen {
  background: var(--screenColor);
  width: 84%;
  height: 85%;
  border-radius: 1px;
}

.screen:hover {
  background-image: url('https://media.giphy.com/media/vu1dkYbukWyRO/giphy.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: crosshair;
}

/* RIGHT - SECTION */

.right {
  background: var(--rightColor);
  width: 15%;
  border-radius: 0px 70px 70px 0px;
  box-shadow: -5px 10px 15px #fc9a93 inset, 0px 2px 2px #666;
}

.plus {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 12%;
}

.bt_plus {
  width: 21px;
  height: 21px;
  margin-left: 10px;
}

.arrows2 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 25%;
}

.reset2 {
  display: flex;
  justify-content: flex-start;
  height: 31%;
}

.bt_reset2 {
  margin-left: 30px;
  margin-top: 10px;
  width: 25px;
  height: 25px;
}

p {
  align-self: center;
  text-align: center;
}